# Check file error

Looking for mismatched values and correct it. Some values are out of range (incorrect input or creation).

This check is important before inserting data into database tables without errors OR before use data queries without errors.

### Define parameters of the source and result files

In [43]:
# File path and name
year = 2014
src_file = '../datasets/onnettomuus/co/tielonnett_'+str(year)+'_onnett.csv'
result_file = '../datasets/onnettomuus/co/tielonnett_'+str(year)+'_onnett.csv'

# File attributes
src_delimiter = ';'
src_encoding = 'utf-8'
rslt_delimiter = ';'
rslt_encoding = 'utf-8'

In [44]:
# Used libraries
import pandas as pd
import numpy as np
import math

#### Create empty dataframe with column named as years

In [45]:
df = pd.read_csv(src_file, delimiter=src_delimiter, encoding=src_encoding)

C:\Users\Pasi\AppData\Local\Temp\ipykernel_11332\842088147.py:1: DtypeWarning: Columns (55,87) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(src_file, delimiter=src_delimiter, encoding=src_encoding)

In [46]:
df1 = pd.DataFrame(df, columns = ['ELY','Elynimi','Poliisipri','Piirinimi','Maakunta','Maakuntsel','Kunta','Kuntasel'])

In [47]:
errors = []
errors = df1[(df1['ELY'] < 0)]
#errors = df1[(df1['Poliisipri'] < 0)]
#errors = df1[(df1['Maakunta'] < 0)]
#errors = df1[(df1['Kunta'] < 0)]

In [60]:
df_err = pd.DataFrame(errors)

In [61]:
df_err

,ELY,Elynimi,Poliisipri,Piirinimi,Maakunta,Maakuntsel,Kunta,Kuntasel
796,-1,Tiepiiri tuntematon,0,Ei arvoa,14,Etelä-Pohjanmaa,301,Kurikka
797,-1,Tiepiiri tuntematon,0,Ei arvoa,14,Etelä-Pohjanmaa,301,Kurikka
798,-1,Tiepiiri tuntematon,0,Ei arvoa,14,Etelä-Pohjanmaa,301,Kurikka
799,-1,Tiepiiri tuntematon,0,Ei arvoa,14,Etelä-Pohjanmaa,301,Kurikka
800,-1,Tiepiiri tuntematon,0,Ei arvoa,14,Etelä-Pohjanmaa,301,Kurikka
...,...,...,...,...,...,...,...,...
15154,-1,Tiepiiri tuntematon,0,Ei arvoa,14,Etelä-Pohjanmaa,301,Kurikka
15549,-1,Tiepiiri tuntematon,0,Ei arvoa,1,Uusimaa,92,Vantaa
15550,-1,Tiepiiri tuntematon,0,Ei arvoa,1,Uusimaa,92,Vantaa
15911,-1,Tiepiiri tuntematon,0,Ei arvoa,7,Päijät-Häme,398,Lahti
15912,-1,Tiepiiri tuntematon,0,Ei arvoa,7,Päijät-Häme,398,Lahti

In [17]:
#df.loc[0:28344,['ELY']] = 0

In [107]:
li = []
i = 0
while i < len(df_err.index):
    #df.loc[df_err[i],['ELY']] = 0
    #li.append(df_err.index[i])
    df.loc[df_err.index[i],['ELY']] = 0
    li.append(df.loc[df_err.index[i],['ELY']])
    i += 1
        
df_test = pd.DataFrame(li)

In [108]:
df_test

       ELY
796      0
797      0
798      0
799      0
800      0
...    ...
15154    0
15549    0
15550    0
15911    0
15912    0

[174 rows x 1 columns]

In [109]:
# Create result csv file and save it
df.to_csv(result_file, sep=rslt_delimiter, encoding=rslt_encoding, index=False)